
:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url("https://i.imgur.com/SiM51C1.jpeg");
    background-size: cover;
}

.container {
    display: flex;
    padding: 0 40px;
   
    justify-content: flex-end;
    align-items: center;
      height: 100vh;


}

h2 ,
.form-group label{
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(30, 30, 30, 0.85);
    font-family: Arial, sans-serif;
    padding: 24px 20px;
    width:550px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 4px;
}


.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 16px;


  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.form-group input,
.form-group select {
  padding: 8px;
    background-color: rgba(51, 51, 51, 0.95);
    color: #fff;
  border-radius: 4px ;
  border: 4px solid rgba(51, 51, 51);
	transition: box-shadow 0.3s ease;
}
.form-group button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #0056b3;
}

.form-group small {
  color: red;
  font-size: 12px;
}

.form-actions {
  grid-column: span 2;
  text-align: center;
}

button {
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
}
