@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url("https://i.imgur.com/SiM51C1.jpeg");
    background-size: cover;
    font-family: 'Montserrat';

}
.container {
    display: flex;
    padding: 0 40px;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    color: #fff;

}

h2 ,
.form-group label{
   font-weight: bold;
  margin-bottom: 4px;
  text-align: center;

}


.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(30, 30, 30, 0.85);
    padding: 24px 20px;
    width:550px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}



.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 16px;


  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.form-group input,
.form-group select {
  padding: 8px;
  background-color: rgba(51, 51, 51, 0.95);
  color: #fff;
  border-radius: 4px ;
  border: 4px solid rgba(51, 51, 51);
	transition: box-shadow 0.3s ease;
}

.form-group small {
  color: red;
  font-size: 12px;
}

.form-actions {
  display: flex;
  text-align: center;
  gap: 10px;
}



.bonus-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.bonus-card {
  display: flex;
  align-items: center;
  background: #1a1a1a;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}


.bonus-number {
  background: #32dd90;
  color: #000;
  font-weight: bold;
  padding: 5px 12px;
  margin-right: 15px;
  border-radius: 4px;
}

.bonus-content h3 {
  margin: 0;
  color: #fff;
  font-size: 1.2rem;
}

.bonus-content p {
  margin: 0;
  color: #aaa;
  font-size: 0.9rem;
}

.card-green.selected {
  border-color: #32dd90;
  background: #5e5d5d;
  transform: scale(1.02);
}


.btn-continuar {
  width: 100%;
  padding: 15px;
  background: #32dd90;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.btn-registrar {
  width: 90%;
  padding: 15px;
  background: #32dd90;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.btn-atras {
  width: 10%;
  padding: 15px;
  background: #6e6e6e;
  border: none;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
}

.btn-continuar:disabled,
.btn-registrar:disabled {
  background: #444;
  color: #777;
  cursor: not-allowed;
  border: none; 
  transform: none; 
}